body {
    margin: 0;
    color: rgb(47, 47, 47);
    line-height: 1.6;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    padding: 20px 20px 20px 20px;
    margin: 0;
    color: white;
}

.menu li {
    display: inline-block;
    background-color: rgb(1, 117, 146);
    font-size: 22px;
    border-radius: 3px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: white;
    text-decoration: none;
    color: rgb(1, 117, 146);
    border-radius: 3px;
}

.zivotopis img {
    height: 260px;
    border-radius: 0 50px 50px 0;
    box-shadow: 1px 1px rgb(226, 226, 226);
    float: left;
    overflow: auto;
    margin: 0 40px 0 40px;
}

h2 {
    margin-left: 40px;
    text-align: left;
    color: rgb(47, 47, 47)
}

.omne {
    font-size: 18px;
    text-align: left;
    margin: 0 40px 0 40px;
}

.omne a {
    text-decoration: none;
    color: rgb(47, 47, 47);
}