* {
    box-sizing: border-box;
}

body {
    color: rgb(47, 47, 47);
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    padding: 20px;
    margin: 0;
    color: white;
}

.menu li {
    display: inline-block;
    background-color: rgb(1, 117, 146);
    font-size: 22px;
    border-radius: 3px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: white;
    text-decoration: none;
    color: rgb(1, 117, 146);
    border-radius: 3px;
}

.zivotopis img {
    height: 260px;
    border-radius: 0 50px 50px 0;
    box-shadow: 1px 1px rgb(226, 226, 226);
    float: left;
    margin-right: 20px;
}

.text {
    text-align: left;
    background-color: rgb(247, 247, 247);
    overflow: auto;
}

.omne a {
    text-decoration: none;
    color: rgb(47, 47, 47);
}

section {
    margin: 0;
    padding-left: 40px;
}

table {
    border-spacing: 0;
    margin-top: 40px;
}

th {
    background-color: rgb(1, 117, 146);
    color: white;
    padding: 10px;
}

.rok {
    text-align: center;
}

td {
    border-bottom: 1px solid rgb(47, 47, 47);
    padding: 10px
}

.vzdelani {
    text-align: left;
}

.omalovanky img,
.pracovniListy img,
.sablony img {
    width: 10%;
    border-radius: 5px;
    border: 1px solid rgb(224, 224, 224);
    box-shadow: 1px 1px 1px rgb(224, 224, 224);
    margin: 20px 1% 0 40px;
}

.blue {
    color: rgb(1, 117, 146);
}

.button {
    color: rgb(1, 117, 146);
    background-color: white;
    box-shadow: 1px rgb(224, 224, 224);
    border-radius: 5px;
}

.button a {
    color: rgb(1, 117, 146);
    text-decoration: none;
}