body {
    margin: 0;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    padding: 20px 20px 20px 20px;
    margin: 0;
    color: white;
}

.menu li {
    display: inline-block;
    background-color: rgb(1, 117, 146);
    font-size: 22px;
    border-radius: 3px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    background-color: white;
    text-decoration: none;
    color: rgb(1, 117, 146);
    border-radius: 3px;
}